---
title: Template Subpage
sortOrder: 02
pagePath: /subfolder
bodyClass: Subpage
---
{{>navigationModule showThisInstead=true}}

<h3>This is the {{bodyClass}}</h3>

{{#each content.SiteSections}}
	{{>contentSections}}
{{/each}}