---
blockType: nav
---
<nav class="main-nav">
	<h2>Navigation</h2>
	{{#if showThis}}
		<h2>Only appear if true</h2>
	{{/if}}
	<ul class="nav__list">
		{{#withSort pages 'data.menuSortOrder'}}
			<li class="nav__list-item{{#is ../page.dest this.dest}} active{{/is}}">
				<a href="{{data.pagePath}}" class="nav__list-item-link">{{data.menuLink}}</a>
			</li>
		{{/withSort}}
	</ul>
	{{#if showThisElse}}
		<h2>Only appear if true TOOOO</h2>
	{{/if}}
</nav>