---
title: Custom Hub Homepage
---
{{>navigationModule showThis=true}}

<h3>This is the {{bodyClass}}</h3>

<div class="slider">
	{{#each content.SliderContent}}
	<div class="slides">
		<img src="{{imgSrc}}" alt="">
	</div>
	{{/each}}
</div>