---
title: Grunt Assemble Template
sortOrder: 01
pagePath: /
bodyClass: Homepage
---
{{>navigationModule showThis=true}}

<h3>This is the {{bodyClass}}</h3>

<div class="slider">
	{{#each content.SliderContent}}
		<div class="slides">
			<img src="{{imgSrc}}" alt="">
		</div>
	{{/each}}
</div>
<br>
<h3>
	Live chat messenger, Firebase database
</h3>
<div id='messagesDiv'></div>
<br>
<input type='text' id='nameInput' placeholder='Name'>
<input type='text' id='messageInput' placeholder='Message'>