//////// Extend Styles [START] ////////

// Fonts
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,700");
.open-sans {
	font-family: 'Open Sans', sans-serif;
}

// Animation Flicker Fix
.backface-hidden {
	@include backface-visibility(hidden);
}

//////// Extend Styles [END] ////////
//////// Global Styles [START] ////////

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

* {
	@include box-sizing;
	@include font-smoothing;
	@extend .open-sans;

	margin: 0;
}

html,
body {
	font-size: 10px;
	height: 100%;
}

.main-wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

.push,
.footer {
	clear: both;
	height: 100px;
}

.header {
	background: $color-offwhite;
	height: 100px;
	margin: 0 auto;
}

.main-page-content {
	max-width: 102.4em;
	width: 100%;
	margin: 0 auto;
}

.footer {
	background: $color-darkgrey;
}


// Type Styling
a {
	@include base-short-transition;
	@extend .backface-hidden;

	color: $color-limegreen;

	@include respond-to(ipad-portrait) {
		color: $color-grey;
	}

	&:hover {
		color: $color-grey;
	}
}

p {
	font-size: 1.4em;
	color: $color-darkgrey;

	&.text-cols {
		@include text-columns(2);

		@include respond-to(small-screens) {
			@include text-columns(1);
		}
	}

	small {
		font-size: .7em;
	}
}

li {
	font-size: 1.4em;
	color: $color-darkgrey;
}

h1,
h2,
h3,
h4,
h5 {
	@extend .open-sans;

	margin: 10px 0;
	font-weight: bold;
}

h1 {
	font-size: 2.7em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.8em;
}

h5 {
	font-size: 1.6em;
}

h6 {
	font-size: 1.4em;
}

//////// Global Styles [END] ////////
