// Primary Colors //
$white : #fff;
$offwhite: #eee;

$lightergrey: #aaa;
$lightgrey: #999; 
$grey: #666; 
$darkgrey: #414141;
$darkergrey: #232323;

// Project Based Colors //
$orange: #f36a00; 
$red: #ec3814; 
$limegreen: #8dc63f;